{% extends "base.html" %}

{% load static %}

{% block styles %}
<link href="{% static 'index/index.css' %}" rel="stylesheet">
{% endblock styles %}

{% block content %}

<div class="starter-template">

{% if contest_name %}
<div class="center-block">
    <h1><u>{{ contest_name }}</u></h1>
</div>
{% endif %}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Solved</th>
            <th scope="col">Time Penalty (s)</th>
        </tr>
    </thead>

    <tbody>
    {% for p in participants %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ p.user }}</td>
            <td>{{ p.solved }}</td>
            <td>{{ p.penalty }}</td>
        <tr>
    {% endfor %}
    </tbody>
</table>
</div>

{% endblock content %}
