{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block styles %}
<link href="{% static 'login/login.css' %}" rel="stylesheet">
{% endblock styles %}

{% block content %}
<body class="text-center">
    <form class="form-signin" action="/accounts/login/" method="post">
        {% csrf_token %}
        <img class="mb-4" src="{% static 'images/chicoacm.png' %}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
        {{ form|crispy }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <a class="btn btn-lg btn-primary btn-block" href="/accounts/register/">Sign up</button>
    </form>
</body>
{% endblock content %}
