{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div style="padding-top: 150px">

<a class="btn" href="/edit/" style="padding-bottom: 50px">Create New Problem</a>
<div id="problemContainer">
    {% for p in problems %}
        <div id="problem{{ p.id }}">
            <span><h3><a href="problems/{{ p.slug }}">{{ p.title }}</a></h3></span>
            <span>By {{ p.author }}</span>
            <div>
                <p>{{ p.description }}</p>
                <span>{{ p.testcases }}</span>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock content %}
