{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <link rel="shortcut icon" type="image/png" href="{% static 'images' %}/favicon.ico"/>

    <!--Add More Style sheets here-->
    {% block styles %}
    {% endblock styles %}

    <title> {{ nbar }} </title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/">ACM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if nbar == 'Home' %}active{% endif %}">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item {% if nbar == 'Problems' %}active{% endif %}">
                    <a class="nav-link" href="/problems">Problems</a>
                </li>
                <li class="nav-item {% if nbar == 'Leaderboard' %}active{% endif %}">
                    <a class="nav-link" href="/leaderboard">Leaderboard</a>
                </li>
                <li class="nav-item {% if nbar == 'Contests' %}active{% endif %}">
                    <a class="nav-link" href="/contests">Contests</a>
                </li>
                <li class="nav-item {% if nbar == 'Chat' %}active{% endif %}">
                    <a class="nav-link" href="/chat">Chat</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="navbarRight">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <span class="navbar-text">Logged in as {{ request.user.username }}</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/accounts/logout/">Log Out</a>
                </li>
                {% else %}
                <li class="nav-item {% if nbar == 'Register' %}active{% endif %}">
                    <a class="nav-link" href="/accounts/register/">Register</a>
                </li>
                <li class="nav-item {% if nbar == 'Login' %}active{% endif %}">
                    <a class="nav-link" href="/accounts/login/">Sign In</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% if contest %}
    <nav class="navbar navbar-expand-md">
        <div class="collapse navbar-collapse" id="navbarLeft-contest">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if nbar == 'Problems' %}active{% endif %}">
                    <a class="nav-link" href="/contests/{{ contest.slug}}/problems">Problems</a>
                </li>
                <li class="nav-item {% if nbar == 'Leaderboard' %}active{% endif %}">
                    <a class="nav-link" href="/contests/{{ contest.slug }}/scoreboard">Scoreboard</a>
            </ul>
        </div>
        <h4 id="timer"></h4>
    </nav>
    {% endif %}

    <!-- Content Starts Here-->
    {% block content %}
    {% endblock content %}
    <!-- Content Ends Here-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <!-- Custom Scripts Start Here-->
    {% block scripts %}

    {% if contest %}
    <script>
    {% load tz %}
    // STOLEN FROM https://www.w3schools.com/howto/howto_js_countdown.asp //
    let start_time = new Date("{{ contest.start_time|date:'Y-m-d H:i:s' }}").getTime();
    let end_time = new Date("{{ contest.end_time|date:'Y-m-d H:i:s' }}").getTime();

    function updateTimer() {
        let now = new Date();
        let now_utc = new Date(now.getTime() + now.getTimezoneOffset()*60000);
        let delta = -1;
        let display_str = "";
        if (now_utc >= end_time) {
            // Contest has ended
            display_str = "<b>Contest Over</b>";
        } else if (start_time <= now_utc) {
            // Contest is going on right now
            delta = end_time - now_utc;
            display_str = "<b>Time Remaining:</b> ";
        } else {
            // Contest has not started yet
            delta = start_time - now_utc;
            display_str = "<b>Contest Begins In:</b> ";
        }

        if (delta > 0) {
            // Time calculations for days, hours, minutes and seconds
            let days = Math.floor(delta / (1000 * 60 * 60 * 24));
            let hours = Math.floor((delta % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            let minutes = Math.floor((delta % (1000 * 60 * 60)) / (1000 * 60));
            let seconds = Math.floor((delta % (1000 * 60)) / 1000);

            // Display the result in the element with id="demo"
            let time_str = days + "d " + hours + "h " + minutes + "m " + seconds + "s ";
            display_str += time_str;
        }

        document.getElementById("timer").innerHTML = display_str;
    }

    // Run once upon page load so user doesn't have to wait a second to see the timer
    updateTimer();

    // Update timer each second thereafter
    let x = setInterval(updateTimer, 1000);
    </script>
    {% endif %}

    {% endblock scripts %}
    <!-- Custom Scripts End Here-->
</body>
</html>
