{% extends "base.html" %}

{% load static %}

{% block styles %}
<link href="{% static 'index/index.css' %}" rel="stylesheet">
{% endblock styles %}

{% block content %}

<main role="main" class="container" style="width: 50%">

    <div class="starter-template">
        <h1>Chico State ACM Auto Judge</h1>
    </div>

    <div class="col-md-12">
        Welcome to CSUC Association for Computing Machinery chapter's auto judge!  After creating an account, you are free to participate
        in <a href="/contests">contests</a>, or sharpen your skills solving <a href="/problems">problems</a> on your own.
    </div>

    <div class="starter-template">
    <img src="{% static 'images' %}/slack.png" width="10%">
    <a href="https://chicoacm.slack.com">Join our Slack channel here</a>
    <img src="{% static 'images' %}/slack.png" width="10%">
    </div>


</main><!-- /.container -->

{% endblock content %}
