{% extends "base.html" %}

{% load static %}

{% block styles %}
<link href="{% static 'login/login.css' %}" rel="stylesheet">
{% endblock styles %}


{% block content %}

<body class="text-center">
    <form class="form-signin" action="/accounts/register/" method="post">
        {% csrf_token %}
        <img class="mb-4" src="{% static 'images/chicoacm.png' %}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Create Account</h1>
        {{ form.errors }}
        {{ form.username.label_tag }}
        {{ form.username }}<br>
        {{ form.email.label_tag }}
        {{ form.email }}<br>
        {{ form.password1.label_tag }}
        {{ form.password1 }}<br>
        {{ form.password2.label_tag }}
        {{ form.password2 }}<br>
        <input type="submit" value="Register"/>
    </form>
</body>

{% endblock content %}
